.app{
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.contact-icons{
  position: relative;
  left: calc(100% - 62.5px);
  top: 5px;
  width: 55px;
  height: 30px;
  z-index: 3;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  background-color:rgb(0, 150, 200);
}

.linkedin{
  position: absolute;
  left: 5px;
  top: 5px;
}

.github{
  position: absolute;
  right: 5px;
  top: 5px;
}

.linkedin:hover{
  transition: 0.5s;
  opacity: 0.3;
}

.github:hover{
  transition: 0.5s;
  opacity: 0.3;
}

#tiles {
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  position: fixed;
  
  z-index: 2;
}

.tile{
  cursor: pointer;
  position: relative;
}
.tile:hover:before {
  background-color: rgb(47, 47, 47);
}

.tile:before {
  background-color: rgb(28, 28, 28);
  content: "";
  position: absolute;
  inset: 0.5px;
}

.tile:hover:after {
  cursor: default;
}

nav {
  text-transform: capitalize;
}

.page{
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  position: absolute;
  width: calc(100% - 55px);
  left: 55px;
  transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
  z-index: 1;
}

.page.menu-visible{
  left: 230px;
  width: calc(100% - 230px);
}

.page.home{
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  position: relative;
  width: 100%;
  left: 0px;
  transition: bottom 0.3s ease-in-out, width 0.3s ease-in-out;
  height: auto;
  text-align: center;
  color: white;
  top: 33vh;
  font-size: large;
}

:root {
  --g1: rgb(135, 0, 87);
  --g2: rgb(165, 48, 63);
  --g3: rgb(117, 114, 120);
  --g4: rgb(62, 61, 66);
}

@keyframes background-pan{

}

#aboutMe.page{
  animation: background-pan 10s linear infinite;
  background: linear-gradient(
    to right,
    var(--g1),
    var(--g2),
    var(--g1)
  );
  background-size: 200%;
  height: 100vh;
  overflow: hidden;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to{
    background-position: -200% center;
  }
}

div#aboutMe.page > div.page-content{
  opacity: 0;
}

div#aboutMe.page.toggled > div.page-content{
  opacity: 1;
}

div#aboutMe.page.toggled > div.page-background > #tiles > .tile:hover{
  cursor: default;
}

.page-background{
  position: absolute;
  width: 100%;
  height: 100vh;
}

.page.menu-visible.home{
  height: calc(100vh - 297px);
}

.page-title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 45px;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 1.5px rgb(209, 209, 209);
}

.project-title{
  text-align: center;
}

#project-head{
  width: 33%;
  text-align: center;
  margin: 30px 33%;
  background-color: #272727;
  border: white solid 1px;
}

.page-intro{
  text-align: center;
}

.page-body{
  margin-left: 25px;
  margin-right: 25px;
}

.page.home .page-head{
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 1px white;
}

.page.home .page-head > h1{
  margin: 5px;
}

.home-intro .page-subtitle{
  width: 380px;
  margin: 0px;
}

#aboutMe > .page-content{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  transition: opacity 1200ms ease;
}

@keyframes background-breathe {
  0% {
    background-size: 95% 95%;
    background-position: center center;
  }

  50% {
    background-size: 150% 150%;
    background-position: center center;
  }

  100% {
    background-size: 95% 95%;
    background-position: center center;
  }
}

.about-summary{
  color: rgb(209, 209, 209);
  padding: 10px 20px;
}

.first-row{
  height: 45vh;
  display: flex;
}

.second-row{
  display: flex;
  height: 25vh;
  margin-top: 25px;
  align-items: center;
}

.profile-pic{
  min-width: 80%;
  max-height: 100%;
  max-width: 80%;
  max-height: 100%;
  border-radius: 50%;
  border: 7px solid black
}

.profile-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30%;
  height: 100%;
  max-width: 30%;
}

.summaries{
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: space-evenly;
  margin-left: 20px;
}

.summary-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  height: min-content;
  border-style: dashed;
  border-color: black;
  border-radius: 5px;
  margin-bottom: 5px;
  animation: background-breathe 10s linear infinite;
  background: radial-gradient(
    circle,
    var(--g4),
    var(--g3),
    var(--g4)
  );
  background-size: 95% 95%;
}

#projects.page{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

#projects > .page-content{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.projects{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  padding-top: 75px;
}

.projects-list-viewer{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  margin: 0px 75px;
}

.projects-image-viewer{
  position: relative;
  width: 50%;
  height: 100%;
  margin-right: 50px;
}

.projects-list{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto; /* Enables vertical scrolling */
  scrollbar-width: none;
  list-style-type: none;
}

.projects-list-top-wrapper{
  display: flex;
  width: 100%;
}

.projects-list-header{
  width: 100%;
  border-bottom: 4px solid #bbb;
}

.projects-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 3px solid #bbb;
  transition: 0.75s;
  height: 100%;
  background-color: #272727;
}

#first-row{
  border-top: none;
}

.projects-row-right{
  text-overflow: ellipsis;
  padding-right: 10px;
}

a {
  color: rgb(194, 194, 194);
  text-decoration: none;
}

.projects-row-left{
  padding-left: 10px;
  transition: 0.75s ease-in-out;
  text-decoration: underline;
}

.projects-row:hover .projects-row-left{
  padding-left: 30px;
  transition: 0.75s ease-in-out;
}

.projects-row:hover{
  transition: 0.75s;
  background-color: #777777;
}

.project-list-element{
  height: 32%;
}

.projects-image-viewer-content{
  border-radius: 0px 48px 0px 0px;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.projects-image-wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 0.75s ease-in-out;
}

.projects-image-size{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
  background: #f4f4f4;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb{
  background: #7e7e7e;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover{
  background: #393939;
  border-radius: 4px;
}

.project{
  margin-top: 30px;
  padding: 0% 3%;
  height: 100vh;
  overflow-y: auto;
  background: #656565;
  border: 5px solid rgb(160, 160, 160);
  border-radius: 12px;
  max-width: 69%;
}

.project-image{
  height: 100%;
}

#projects-background{
  height: 100%;
  width: 100%;
  background-color: #272727;

  background-image: radial-gradient(
    rgba(2255, 255, 255, 0.1) 9%,
    transparent 9%
  );

  background-position: 0% 0%;
  background-size: 5% 7%;

  position: absolute;

  transition: 800ms ease;
}

.title-pic{
  display: flex;
  flex-direction: column;
  position: relative;
}

.title-pic-wrapper{
  width: 100%;
  height: auto;
  border-radius: 0px 0px 96px 96px;
}

.tldr-main-pic{
  width: 100%;
  height: auto;
  border-radius: 0px 0px 96px 96px;
}

.project-table{
  width: 100%;
  border: 2px solid;
  border-radius: 6px;
  background: #dfc7e5;
}

.tech-stack-table{
  width: 100%;
}

.tech-stack-title{
  border: 1px solid;
  text-align: center;
  background: #9ecae0;
}

.tech-stack-info{
  border: 1px solid;
  text-align: center;
  background: #9ecae0;
}

.year-title{
  border: 1px solid;
  text-align: center;
  background: #9ee0ca;
}

.year-info{
  background: #9ee0ca;
}

.year-info-table{
  width: 100%;
}

.year-info-text{
  width: 100%;
  border: 1px solid;
  background: #d8d8d8;
}

.team-title{
  border: 1px solid;
  text-align: center;
  background: #9ecae0;
}

.team-info{
  border: 1px solid;
  text-align: center;
  background: #9ecae0;
}

.team-table{
  width: 100%;
}

td{
  border: 1px solid;
  text-align: center;
  background: #d8d8d8;
}

.team-member-td:hover{
  background: #cccccc;
}

.project-description{
  margin-top: 10px;
  width: auto;
}

.project-summary{
  text-align: center;
  background: #a5daec;
  overflow-wrap: break-word;
  border-radius: 25px;
  border: white 3px inset;
  margin-bottom: 30px;
}

.project-paragraph{
  margin: 10px;
  padding: 10px;
}

.project-links{
  margin-top: 20px;
  background: #c1c1c1;
  border: 3px solid;
  display: flex;
  justify-content: space-evenly;
}

.link-wrapper{
  margin: 5px;
  padding: 5px;
  width: 20%;
  background: #9ecae0;
  text-align: center;
  display: inline-block;
  border: 2px solid;
}

.link-wrapper:hover{
  background: #81bedc;
  text-align: center;
  display: inline-block;
  border: rgb(76, 76, 76) 2px solid;
}

.hyperlink{
  color: -webkit-link;
  text-decoration: underline;
}

.team-member-link{
  color: black;
  text-decoration: underline;
}

.team-member-link:hover{
  color: rgb(52, 52, 251);
}

.project-media {
  text-align: center;
  background: #c1c1c1;
  margin-top: 20px;
  margin-bottom: 50px;
  border: 3px solid;
}

.project-media-wrapper{
  max-width: 45%;
  display: inline-block;
  margin: 10px;
}

.project-media-content-wrapper{
  padding: 10px;
  background: #9d9d9d;
  border: 2px inset;
  border-radius: 10px;
}

.project-media-content-wrapper:hover{
  background: #696969;
  border: 2px outset;
}

.tldr-pic{
  width: 100%;
  height: auto;
}