.app{
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

nav {
  text-transform: capitalize;
}

.page{
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  position: absolute;
  width: calc(100% - 55px);
  left: 55px;
  transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
}

.page.menu-visible{
  left: 230px;
  width: calc(100% - 230px);
}

.page.home{
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  position: absolute;
  width: 100%;
  left: 55px;
  transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
}

.page.menu-visible.home{
  
}

.page-title {
  text-align: center;
}

.page-intro{
  text-align: center;
}

.page-content{
  margin-left: 25px;
  margin-right: 25px;
}