.app{
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

nav {
  text-transform: capitalize;
}

.page{
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  position: relative;
}

.page-title {
  text-align: center;
}

.page-intro{
  text-align: center;
}

.page-content{
  margin-left: 25px;
  margin-right: 25px;
}