body {
  overflow-y: hidden;
}

.navigation {
  position: absolute;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.toggle-menu-button {
  background-color: #444;
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  font-size: 18px;
  cursor: pointer;  
  margin-top: 0px;
}

.toggle-menu-button:hover{
  background-color: #666;
  color: #8299fe;
  text-decoration: underline;
}

.navigation ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.navigation ul li {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.navigation ul li:hover {
  background-color: #555;
}

.navigation ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.navigation ul li a:hover{
  color: #8299fe;
  text-decoration: underline;
  font-weight: bold;
  font-size: 16px;
}

.navigation.bottom-menu {
  top: calc(100vh - 42px);
  left: 0;
  width: 100%;
  height: 215px;
  align-items: center;
  transition: top 0.3s ease-in-out;
}

.navigation.bottom-menu.active {
  top: calc(100vh - 215px);
}

.navigation.left-menu {
  left: -171px;
  width: 230px;
  height: 100vh;
  align-items: flex-start;
  transition: left 0.3s ease-in-out;
}

.navigation.left-menu.active {
  left: 0;
}

.left-menu .toggle-menu-button {
  position: absolute;
  left: 75%;
  width: auto;
  height: 100%;
}

.left-menu ul{
  padding: 0;
  margin: 0;
  width: 75%;
}

.left-menu ul li {
  width: 100%;
}